.home {
  @extend %cover;
  background-color: black;
  color: white;
}
.home__wrapper {
  @extend %cover;
}

.home__next {
  @extend %description-12;
  position: absolute;
  top: 4.8rem;
  right: 3.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-burnt-yellow;
}
.home__stories {
  @extend %cover;
  @extend %center;
  pointer-events: none;
}
.home__stories__wrapper {
  @extend %center;
  position: relative;
  flex-direction: column;
  width: 100rem;
}
.home__stories__svg {
  position: absolute;
}
.home__stories__story {
  @extend %story-42;
  position: absolute;
  text-align: justify;
  transform: translateY(-2.5rem);
  opacity: 0;
  font-family: $font-maghfirea-regular;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.183rem;
  line-height: 140%;
  transform: scale(1);
}
.home__stories__story--active {
  opacity: 1;
  filter: url(#home__stories__filter);
  animation: 0.7s home__stories__story--active__animation ease-out;
}

@keyframes home__stories__story--active__animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.home__stories__story__piece {
  opacity: 0.15;
  transition: opacity 0.6s;
}
.home__stories__story__piece--active {
  opacity: 1;
}
.home__stories__story__piece--golden {
  color: $color-burnt-yellow;
}
.home__scrollIcon {
  @extend %cover;
  @extend %center;
  flex-direction: column;
  & > * {
    transform: translateY(23rem);
  }

 transition: opacity 2s;
}
.home__scrollIcon__wrapper{
  opacity: 0;
  z-index: 1;
}
.home__scrollIcon__media {
  position: relative;
  height: 7.6rem;
  width: 6.4rem;
}
.home__scrollIcon__media__image {
  @extend %cover;
}
.home__scrollIcon__incentive {
  margin-top: 1.3rem;
  font-family: $font-roboto-regular;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  opacity: 0.7;
}
.home__soundIcon {
  @extend %cover;
}
.home__soundIcon__media {
  position: absolute;
  height: 4.8rem;
  width: 4.8rem;
  bottom: 4.8rem;
  right: 4.8rem;
}
.home__soundIcon__media__image {
  @extend %cover;
}
.home__incentives {
  display: none;
}
.home__incentives__wrapper {
}
.home__incentives__incentive {
}

.home__credit{
  @extend %cover;
}

.home__credit__wrapper{
  @extend %cover;
  position: relative;
}

.home__credit__text{
  font-family: "Roboto", sans-serif;
  position: absolute;
  left: 4.8rem;
  top: 4.8rem;
  font-size: 1.02rem;
  width: 13.67rem;
  line-height: 120%;
  letter-spacing: 0.096rem;
}
// .home__progress{
//   @extend %cover;
// }
// .home__progress__wrapper{
//   position: relative;
//   left:0;
//   top:0;
//   width: 0.05rem;
//   height: 100%;
// }
// .home__progress__level{
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 0;
//   background-color: $color-burnt-yellow;
//   transition: height 2s ease-out;
// }

 /*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#scrollDownIcon__Arrow {
  animation: scrollDownIcon__Arrow__opacity__1 2500ms 0ms linear forwards infinite;
}

@keyframes scrollDownIcon__Arrow__opacity__1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#scrollDownIcon__Mouse {
  animation: scrollDownIcon__Mouse__opacity__1 2500ms 0ms ease-out forwards infinite,
    scrollDownIcon__Mouse__y__1 2500ms 0ms ease-out forwards infinite;
}

@keyframes scrollDownIcon__Mouse__opacity__1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}
@keyframes scrollDownIcon__Mouse__y__1 {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(26px);
  }
}

#scrollDownIcon_Text {
  animation: scrollDownIcon_Text__opacity__1 1500ms 0ms ease-out forwards;
}

@keyframes scrollDownIcon_Text__opacity__1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
