.preloader
    .preloader__wrapper
        p.preloader__percentage="0%"
        .preloader__path
        p.preloader__regex="^\d{3}%$"
    .preloader__button
        .preloader__button__wrapper
            button.preloader__button__button
            .preloader__button__button2
            .preloader__button__text="Entrez"