block variables
doctype html
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		base(href="/")
		
		title=meta.data.title

		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="icon",type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#ffbb25")
		link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
		meta(name="msapplication-TileColor", content="#000000")
		meta(name="theme-color", content="#ff0000")

		meta(name="description",content=meta.data.description)
		link(href="main.css" , rel="stylesheet")
	body
		include ./partials/preloader

		.content#content(data-template=template)
			block content
		script(src="main.js")