.preloader{
    @extend %cover;
    @extend %center;
    background-color: black;
    flex-direction:row ;
    //TO DO utiliser la fonction z-index
    z-index: 1;
}
.preloader__wrapper{
    @extend %center;
}
.preloader__percentage{
    @extend   %title-96;
    margin-right: 4.8rem;
    font-family:$font-maghfirea-regular;
    color: $color-burnt-yellow;
}
.preloader__path{
    width:81rem ;
    border-top: white solid 0.1rem;
}
.preloader__regex{
    margin-left: 4.8rem;
    font-size: 2.8rem;
    font-family: $font-roboto-regular;
}
.preloader__button{
    @extend %cover;
    @extend %center;
}
.preloader__button__wrapper{
    @extend %center;
    opacity: 0;
    width: 20rem;
    height: 20rem;
    transition: 0.5s ease-in;
}
.preloader__button__wrapper:hover{
    transform: scale(1.2,1.2);
}
.preloader__button__button{
    all: unset;
    width: 20rem;
    height: 20rem;
    font-size: 2.8rem;
    border-radius: 50%;
    background-image:linear-gradient(0.5turn,#F2C94C,white);
    animation: moveGradient 2s infinite;
    z-index: 1;
    position: absolute;
}

@keyframes moveGradient{
	0% {
		transform: rotateZ(0deg);
	}
	100% {
        transform: rotateZ(360deg);
	}
}
.preloader__button__button2{
    font-size: 2.8rem;
    width: 19.7rem;
    height: 19.7rem;
    border-radius: 50%;
    background: black;
    z-index: 2;
    position: absolute;
}

.preloader__button__text{
    font-family:$font-maghfirea-regular;
    font-size: 3.6rem;
    z-index:2;
    position: absolute;
}