@font-face {
    font-family: $font-maghfirea-regular;
    src:url('../fonts/maghfirea-regular.woff') format('woff'),
    url('../fonts/maghfirea-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-roboto-regular;
    src:url('../fonts/roboto-regular.woff'), format('woff'),
    url('../fonts/roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}