extends ../base.pug

block variables
    - var template = 'home'
        
block content
    .home
        .home__wrapper
            p.home__next=home.data.next
            each section in home.data.body

                if section.slice_type=="story"
                    .home__stories
                        .home__stories__wrapper
                            each items in section.items
                                p.home__stories__story=items.story[0].text
                        svg.home__stories__svg
                            filter.home__stories__filter(id="home__stories__filter")
                                feturbulence.home__stories__filter__turbulence(type='fractalNoise' basefrequency='0.0' numoctaves='50')
                                fedisplacementmap(in="SourceGraphic" scale='50')

                if section.slice_type=="scrollicon"             
                    .home__scrollIcon
                        .home__scrollIcon__wrapper
                            figure.home__scrollIcon__media
                                svg.home__scrollIcon__media__image(width='64' height='76' viewbox='0 0 64 76' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    rect(width='64' height='76' )
                                    g#StoryPage
                                        rect(width='1920' height='1080' transform='translate(-928 -673)' fill='black' )
                                        g#IconAndScrollInstructions
                                            g#scrollDownIcon
                                                rect(width='64' height='76' fill='black')
                                                g#scrollDownIcon__Mouse
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M29.0566 7.98247C29.0566 6.40451 30.3341 5.12533 31.91 5.12533C33.4859 5.12533 34.7634 6.40452 34.7634 7.98247V13.6968C34.7634 15.2747 33.4859 16.5539 31.91 16.5539C30.3341 16.5539 29.0566 15.2747 29.0566 13.6968V7.98247ZM33.5045 7.98247V13.6968C33.5045 14.5786 32.7906 15.2934 31.91 15.2934C31.0294 15.2934 30.3155 14.5786 30.3155 13.6968V7.98247C30.3155 7.10067 31.0294 6.38583 31.91 6.38583C32.7906 6.38583 33.5045 7.10067 33.5045 7.98247Z' fill='white')
                                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M21 11.5985C21 5.23883 26.1487 0.083313 32.5 0.083313C38.8513 0.083313 44 5.23882 44 11.5985V31.5119C44 36.2457 40.1675 40.0833 35.4398 40.0833H29.5602C24.8325 40.0833 21 36.2458 21 31.5119V11.5985ZM42.7412 11.5985V31.5119C42.7412 35.5496 39.4722 38.8228 35.4398 38.8228H29.5602C25.5278 38.8228 22.2588 35.5496 22.2588 31.5119V11.5985C22.2588 5.93498 26.844 1.34382 32.5 1.34382C38.156 1.34382 42.7412 5.93498 42.7412 11.5985Z' fill='white')
                                                path#scrollDownIcon__Arrow(d='M31.7348 73.2652C31.8813 73.4116 32.1187 73.4116 32.2652 73.2652L34.6517 70.8787C34.7981 70.7322 34.7981 70.4948 34.6517 70.3483C34.5052 70.2019 34.2678 70.2019 34.1213 70.3483L32 72.4697L29.8787 70.3483C29.7322 70.2019 29.4948 70.2019 29.3483 70.3483C29.2019 70.4948 29.2019 70.7322 29.3483 70.8787L31.7348 73.2652ZM31.625 30L31.625 73H32.375V30H31.625Z' fill='white')

                            .home__scrollIcon__incentive=section.primary.scrollicontext

                if section.slice_type=="soundicon"
                    .home__soundIcon
                        figure.home__soundIcon__media
                            img.home__soundIcon__media__image(src=section.primary.soundicon.url, alt="")
                
                if section.slice_type=="incentive"
                    .home__incentives
                        .home__incentives__wrapper
                            each items in section.items
                                p.home__incentives__incentive=items.incentive[0].text

                if section.slice_type=="credit"
                    .home__credit
                        .home__credit__wrapper
                            p.home__credit__text=`Musique ${section.items[0].musique} par ${section.items[0].auteur} utilisé sous CC BY tronqué à partir de l’original`
            //- .home__progress
            //-     .home__progress__wrapper
            //-         .home__progress__level
        

    


